/*some Chakra UI rules can only be overwritten by using !important*/
* {
    border: 1px dashed red;
}

.App {
    background-color: lightgray;
}

form.filterBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-text {
    margin-top: 0 !important;
}

.chat-tab-container {
    margin-top: 2px !important;
}

.multiline-ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
